<!DOCTYPE html>
<html>
   <head>
      <title><%= yield(:title) %> | Twitter clone Rails Sample App</title>
      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
      <%= csrf_meta_tags %>   
      <%= csp_meta_tag %>                                   
   </head>
  <body>
    <%= yield %>
  </body>
</html>